.App {
  text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(239, 251, 238);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	height: 100vh;
}

.appHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  height: 150px; /* Set header height */
  padding: 0 20px; /* Optional padding */
}

.navLink{
	width: 100px;
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	transition: 0.3s;
}

.navLink:hover {
	scale: 1.2;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

img {
width: 120px;
height: auto;
}